<!DOCTYPE html>

<body>
  <h1>Welcome to Ziven's RSA Encryption</h1>
  <h2>Please input the message you would like to encrypt</h2>
<form action="" method="POST">
    <input type="text" name="message">
    <input type="submit" value="encrypt">
  </form>
  <p>Great! Your encrypted message is: {{code}}</p>
  <p>Your unique 'd' value is: {{d_val}}</p>
  <p>Your unique 'n' value is: {{n_val}}</p>
  <p>It is recommended you keep these a secret!</p>

<form action= "/decrypt" method="POST">
  <button type="submit">Click to Decrypt</button>
</form>
<form action= "/start" method="POST">
  <button type="submit">Home</button>
</form>

</body>